



html{
  font-size: 62.5%;
}

body{
  color: #022c43;
  background-color: #022c43;
  
  display: block;
  
}

.footer{
  color: white;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(1, 7, 8);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dhall { 
  
  
}
